/* *
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1bab53;
  --ifm-color-primary-dark: #189a4b;
  --ifm-color-primary-darker: #179147;
  --ifm-color-primary-darkest: #13783a;
  --ifm-color-primary-light: #1ebc5b;
  --ifm-color-primary-lighter: #1fc55f;
  --ifm-color-primary-lightest: #25dd6c;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


/* Footer */
/* Контейнер ссылок футера */
.footer__links {
  display: flex;
  justify-content: space-between; /* равномерное распределение */
  gap: 2rem;                    /*  расстояние между колонками */
}

/* Колонки футера одинаковой ширины */
.footer__col {
  flex: 1;
  min-width: 180px;               /* чтобы не ломалось на маленьких экранах */
}

/* (необязательно) выровнять заголовки и ссылки */
.footer__title,
.footer__items {
  text-align: center;
} 
